.post-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 600px;
    border: grey solid 1px;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
}

.img-content{
    margin: auto;
    margin-top: 10px;
}

.title {
    border-top: gray solid 1px;
    padding-top: 15px;
    margin: 10px;
}


.caption {
    margin: 10px;
    margin-bottom: 30px;
}

.like-group {
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.like-group div {
    display: flex;
    gap: 20px;
}

.like-group div {
    font-size: 30px;
}